# Our project
/build
/release
/cache
/.l10ns
/src/localizations/output

### logs ###
*.log

### node_modules ###
node_modules

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### WebStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/